<a href="https://colab.research.google.com/github/AmitkiGitHUb/PYTHON/blob/main/Tuple_amit_jana.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#TUPLE_AMIT JANA
1. Write a Python program to find the number of times 4 appears in the tuple
Input:
tuplex = (2, 4, 5, 6, 2, 3, 4, 4, 7)
Output: 3
2. Write a Python program to convert a list to a tuple.
Input: listx = [5, 10, 7, 4, 15, 3]
Output: (5, 10, 7, 4, 15, 3)
3. Write a Python program to calculate the sum of the numbers in a given tup
Input: tuples_list = [(1, 2), (3, 4), (5, 6)]
Output:
Sum of values in the tuples: 2

In [2]:
#1.Write a Python program to find the number of times 4 appears in the tuple Input: tuplex = (2, 4, 5, 6, 2, 3, 4, 4, 7) Output: 3
tuplex = (2, 4, 5, 6, 2, 3, 4, 4, 7)
count = tuplex.count(4)
print(count)

3

In [3]:
#alternate
def count_occurrences(tuplex, element):
    return tuplex.count(element)

tuplex = (2, 4, 5, 6, 2, 3, 4, 4, 7)
element = 4
count = count_occurrences(tuplex, element)
print(f"The number of times {element} appears in the tuple:", count)

The number of times 4 appears in the tuple: 3

In [4]:
'''#2. Write a Python program to convert a list to a tuple.
Input: listx = [5, 10, 7, 4, 15, 3]
Output: (5, 10, 7, 4, 15, 3)'''
def list_to_tuple(lst):
    return tuple(lst)

listx = [5, 10, 7, 4, 15, 3]
result_tuple = list_to_tuple(listx)
print("Converted tuple:", result_tuple)

Converted tuple: (5, 10, 7, 4, 15, 3)

In [5]:
'''3. Write a Python program to calculate the sum of the numbers in a given tuple
Input: tuples_list = [(1, 2), (3, 4), (5, 6)]
Output:
Sum of values in the tuples: 21'''
def sum_of_tuples(tuples_list):
    total_sum = 0
    for tup in tuples_list:
        total_sum += sum(tup)
    return total_sum

# Example
tuples_list = [(1, 2), (3, 4), (5, 6)]
total = sum_of_tuples(tuples_list)
print("Sum of values in the tuples:", total)

Sum of values in the tuples: 21

In [6]:
'''4.Write a python program and iterate the given tuples
Input:
employee1 = ("John Doe", 101, "Human Resources", 60000)
employee2 = ("Alice Smith", 102, "Marketing", 55000)
employee3 = ("Bob Johnson", 103, "Engineering", 75000)
Output:
Employee Records:
Name: John Doe
Employee ID: 101
Department: Human Resources
Salary: $60000
Name: Alice Smith
Employee ID: 102
Department: Marketing
Salary: $55000
Name: Bob Johnson
Employee ID: 103
Department: Engineering
Salary: $75000'''


def display_employee_records(*employees):
    print("Employee Records:")
    for employee in employees:
        print(f"Name: {employee[0]}")
        print(f"Employee ID: {employee[1]}")
        print(f"Department: {employee[2]}")
        print(f"Salary: ${employee[3]}")
        print()  # Empty line for better readability

# Input tuples
employee1 = ("John Doe", 101, "Human Resources", 60000)
employee2 = ("Alice Smith", 102, "Marketing", 55000)
employee3 = ("Bob Johnson", 103, "Engineering", 75000)

# Display records
display_employee_records(employee1, employee2, employee3)

Employee Records:
Name: John Doe
Employee ID: 101
Department: Human Resources
Salary: $60000

Name: Alice Smith
Employee ID: 102
Department: Marketing
Salary: $55000

Name: Bob Johnson
Employee ID: 103
Department: Engineering
Salary: $75000